@import 'cadmin-variables';

html#{$cadmin-selector} .cadmin {
	.search-result-button {
		font-size: 14px;
	}

	.tree-picker-count-feedback {
		background: $cadmin-primary-l2;
		min-height: 48px;
	}

	.tree-picker-filter {
		border-bottom: 1px solid $cadmin-secondary-l3;
	}

	.tree-picker-search-mark mark {
		background-color: $cadmin-gray-300;
	}
}
