<div class="component-button text-break btn btn-${configuration.buttonSize} btn-style-${configuration.style} btn-${configuration.type} [#if configuration.inverted]btn-inverted[/#if] component-button [#if configuration.uppercase]text-uppercase[/#if]">
	<a class="text-white" data-lfr-editable-id="link" data-lfr-editable-type="link" href="" id="fragment-${fragmentEntryLinkNamespace}-link">
		Go Somewhere
		<span class="ml-2">
			[@clay["icon"] symbol="${configuration.iconName}" /]
		</span>
	</a>
</div>